<!DOCTYPE html>
<html>
<head>
	<title> Analysis</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style type="text/css">
		body{
			background: linear-gradient(135deg, #71b7e6, #9b59b6);
		}
	.result{
    color:black;
    margin-top:30px;
    margin-bottom:20px;
    font-size:25px;
    color:black;
    }  	
</style>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				 <div class="page-header">
    				<h1 style="color:black;">Credit Card Approval Prediction</h1>
  				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form action="/data_predict" method="POST">
						<div class="col-md-6">
							<div class="form-group">
							    <label for="gender" style="color:black;">Gender</label>
							    <select name="gender" class="form-control" id="gender">
							        <option value="0">FEMALE</option>
							        <option value="1">MALE</option>
                                </select> 
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
							    <label for="car" style="color:black;">Own Car Or NOT</label>
							    <select name="car" class="form-control" id="car">
							        <option value="0">NO</option>
							        <option value="1">Yes</option>
                                </select> 
							</div>
						</div>						
						<div class="col-md-6">
							<div class="form-group">
							    <label for="estate" style="color:black;">Own Realstate</label>
							    <select name="estate" class="form-control" id="estate">
							        <option value="0">No</option>
							        <option value="1">Yes</option>
                                </select> 
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
							    <label for="a_income" style="color:black;">Total Anual Income</label>
							    <input type="number" class="form-control" id="a_income" name="a_income">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
							    <label for="income" style="color:black;">Type of Income</label>
							    <select name="income" class="form-control" id="income">
							        <option value="0">Pensioner</option>
							        <option value="1">Student</option>
							        <option value="2">Working</option>
                                </select> 
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
							    <label for="edu" style="color:black;">Education</label>
							    <select name="edu" class="form-control" id="edu">

							        <option value="1">Higher Education</option>
							        <option value="2">Secondary</option>
                                </select> 
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
							    <label for="family" style="color:black;">Family Status</label>
							    <select name="family" class="form-control" id="family">
							        <option value="0">Married</option>
							        <option value="1">Single</option>
                                </select> 
							</div>
						</div>						
						<div class="col-md-6">
							<div class="form-group">
							    <label for="house" style="color:black;">Type of Housing</label>
							    <select name="house" class="form-control" id="house">
							        <option value="0">House / apartment</option>
							        <option value="1">With parents</option>
                                </select> 
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
	
						    <label for="birth" style="color:black;">Age</label>
							    <input type="number" class="form-control" id="birth" name="birth" >
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
	
						    <label for="emp" style="color:black;">Years Employed</label>
							    <input type="number" class="form-control" id="emp" name="emp" >
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
	
						    <label for="m_family" style="color:black;">Family Members</label>
							    <input type="number" class="form-control" id="m_family" name="m_family" >
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
	
						    <label for="paid" style="color:black;">Emi Paid Off</label>
							    <input type="number" class="form-control" id="paid" name="paid" >
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
	
						    <label for="past" style="color:black;">Emi Of Pastdues</label>
							    <input type="number" class="form-control" id="past" name="past" >
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
	
						    <label for="loan" style="color:black;">No of Loans</label>
							    <input type="number" class="form-control" id="loan" name="loan" >
							</div>
						</div>



<center>
<button type="submit" class="btn btn-default" style="color: black;" >Predict</button>
</center>
				</form>
			</div>
		</div>
	</div>
<div class="result">
<center>
<h3>You Are 
  {{predictiont}}
   for credit card
</h3></center>
  </div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script
</body>
</html>



